.main__inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-profile__info {
    flex-grow: 1;
}

.user-profile__image-wrapper {
    width: 80px;
    height: 80px;
    min-width: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.user-profile__image {
    width: 100%;
    height: 100%;
    object-fit:cover;
    display: block;
}

.user-profile__name {
    font-weight: bold;
    font-size: 20px;
}

.user-profile__edit {
    padding: 7px 15px;
    border: 1px solid #ff4500;
    border-radius: 3px;
    background-color: #fff;
    color: #ff4500;
    font-weight: bold;
    text-decoration: none;
}

.top__menu {
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    border-bottom: 3px solid #999;
    gap: 30px;
}

.exhibition {
    padding-top: 20px;
}

.item__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    list-style: none;
}

.item__image-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
}

.item__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item__sold {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: #fff;
    font-size: 12px;
    padding: 8px 8px;
    border-radius: 3px;
}

.active {
    border-bottom: 2px solid red;
}