.main__inner {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.top__menu {
    display:flex;
    padding-top: 30px;
    padding-left: 20px;
    border-bottom: 3px solid #999;
    gap: 30px;
}

.top__menu a {
    text-decoration: none;
    color: #000;
}

.top__menu a.active {
    color: #ff0000;
    font-weight: bold
}

.exhibition {
    padding-top: 20px;
}

.item {
    width: 100%;
}

.item__link {
    display: block;
    text-decoration: none;
    color: #000;
}

.item__list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.item__image-wrapper {
    width: 100%;
    height: 280px;
    overflow: hidden;
    position: relative;
}

.item__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item__sold {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: #fff;
    font-size: 12px;
    padding: 8px 8px;
    border-radius: 3px;
}

.pagination nav {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.pagenation ul {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
}

.pagenation li {
    list-style: none;
}

.pagination span,
.pagination a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 36px;
    height: 36ox;
    padding: 0 10px;
    border-radius: 6px;
    text-decoration: none;
    color: #555;
}

.pagenation a:hover {
    background-color: #000;
    color: #fff;
}

.pagination .active span {
    background-color: #000;
    color: #fff;
}

.pagination svg {
    width: 20px;
    height: 20px;
}

.pagination p {
    display: none;
}

.pagination nav > div:first-child {
    display: none;
}