.main__inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.top__menu {
    display:flex;
    padding-top: 20px;
    padding-left: 20px;
    border-bottom: 3px solid #999;
    gap: 30px;
}

.exhibition {
    padding-top: 20px;
}

.item__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
}