.card {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.card__inner {
    display: flex;
    gap: 40px;
    margin: 40px 100px;
}

.card__left {
    flex: 2;
}

.purchase-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #999;
}

.purchase-item img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.purchase__name {
    font-weight: bold;
    font-size: 20px;
}

.purchase__group {
    margin: 20px 0;
    border-bottom: 1px solid #999;
}

.purchase__label {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
}

.purchase__payment-method {
    display: block;
    width: 45%;
    margin-bottom: 40px;
    height: 40px;
    border-radius: 3px;
    /*height: 30px;
    margin-left: 50px;
    border-radius: 3px;
    margin-bottom: 20px;*/
}

.shipping-address {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.shipping-address__change {
    color: #00bfff;
}

.purchase__shipping-address {
    margin-top: 0;
}

li {
    list-style: none;
}

.card__right {
    flex: 1;
}

.purchase-summary {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
    margin-bottom: 40px;
    background-color: #fff;
}

.purchase-summary th, .purchase-summary td {
    padding: 20px;
}

.purchase-summary th {
    text-align: left;
}

.purchase-summary td {
    text-align: right;
}

.purchase-summary__price {
    border-bottom: 1px solid #999;;
}

.purchase-summary__action {
    padding: 8px 0;
}

.error-message {
    color: red;
}